.sidebar__container{
    height:100vh;
    width:70px;
    box-shadow: 5px 10px 5px 1px lightgrey;
    justify-content: center;
    position: absolute;
    z-index:1;
    display:flex;
    flex-direction:column;  
}

